/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

body {
    /* font-family: BrandonGrotesque-Regular; */
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #666;
}

input {
    /* font-family: BrandonGrotesque-Regular; */
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

button {
    /* font-family: BrandonGrotesque-Regular; */
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    color: #4E4E4E;
    text-decoration: none;
}

.my-account {
    margin: 15px;
    font-size: 14px;
}

.my-account input {
    width: 350px;
}

.my-account .submit-button {
    background-color: #fff;
}

.my-account .left-column {
    width: 400px;
    float: left;
}

.my-account .right-column {
    width: 400px;
    float: right;
}

.my-account dt {
    display: block;
    float: left;
    clear: both;
    font-weight: bold;
    width: 150px;
}

.my-account dd {
    display: block;
    float: left;
}

.page-title {
    display: block;
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
}

form input {
    color: #999;
    border: 1px solid #999;
    font-size: 12px;
    padding: 5px;
}

form.login input {
    font-size: 11px;
    padding: 4px;
    float: right;
    width: 180px;
}

form.middle-login input {
    font-size: 11px;
    padding: 5px;
    float: right;
    width: 180px;
    border: none;
    margin-bottom: 0px;
}

form.register input {
    width: 380px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 11px;
}

input.suggestgift {
    width: 290px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 11px;
    color: #999;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

form.register .terms-and-conditions {
    clear: both;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    padding-right: 5px;
}

form.register .register-button {
    clear: both;
    float: right;
    margin-right: 10px;
}

form.register .left {
    width: 430px;
    float: left;
}

form.register .right {
    width: 430px;
    float: right;
}

form.register .right input {
    float: right;
    margin-right: 10px;
    border: none;
}

form.register .right button {
    float: right;
}

form.register .left input {
    float: left;
    margin-left: 10px;
    border: none;
}

form.register .left p {
    float: left;
    margin-left: 30px;
}

form.register .right .captcha {
    clear: both;
    overflow: hidden;
    width: 370px;
    margin-right: 10px;
    padding: 10px;
    background-color: #fff;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

form.register .right .captcha input {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border: solid 1px #b2c9c6;
    text-transform: none;
    font-size: 14px;
    color: #000000;
    float: left;
}

form.register .right .captcha span.captcha-text {
    font-size: 12px;
    margin-top: 15px;
    display: block;
    float: left;
    font-weight: bold;
    text-align: right;
}

.c_footer {
    margin-top: 20px;
    background-image: url(../img/footer.png);
    height: 140px;
    background-repeat: no-repeat;
    background-position: 0px 10px;
}

.c_hero-unit {
    overflow: hidden;
    background-color: #b2c9c6;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000000;
}

.c_homepage {
    background-image: url(../img/hero-unit.png);
    background-repeat: no-repeat;
    height: 310px;
    background-position: 150px 20px;
    color: #000000;
}

.c_hero-unit .left-column {
    float: left;
    width: 50%;
    margin-top: 50px;
    padding-bottom: 10px;
}

.c_hero-unit .right-column {
    float: right;
    width: 50%;
}

table.my-status {
    margin: 15px;
    width: 900px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

table.my-status tr {

}

table.my-status tr th {
    text-align: left;
    padding: 10px;
    border-bottom: solid 2px #4f4f4f;
}

table.my-status tr td {
    text-align: left;
    padding: 10px;
}

.refer-friends {
    text-transform: none;
    font-size: 14px;
    line-height: 26px;
    padding: 15px;
    font-family: 'PT Sans', sans-serif;
}

.refer-friends a {
    color: limegreen;
}

.refer-friends input {
    text-transform: lowercase;
    font-family: Arial;
    font-size: 12px;
    width: 200px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 11px;
    color: #999;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.float-left {
    float: left;
}

.share-link {
    margin-top: 10px;
}

.refer-friends button {
    text-transform: capitalize;
    font-family: Arial;
    font-size: 12px;
    width: 60px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 11px;
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.instruction-1 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 12px;
}

.instruction-2 {
    margin-top: 50px;
    margin-left: 270px;
    font-size: 12px;
}

.instruction-3 {
    margin-top: 65px;
    margin-left: 130px;
    font-size: 12px;
}

form.sign-up {
    padding-top: 0px;
    clear: both;
}

form.sign-up .email {
    width: 250px;
    margin-left: 20px;
    border: none;
    padding: 6px;
}

.submit-button {
    background-color: #b2c9c6;
    border: none;
    color: #014e44;
    font-size: 20px;
    margin-top: 2px;
    padding-top: 2px;
    font-weight: 600;
    /* font-family: BrandonGrotesque-Regular; */
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

.c_hero-unit h3 {
    line-height: 15px;
    font-size: 24px;
    font-weight: bold;
}

.c_gift-bar {
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 20px;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.c_gift {
    width: 155px;
    height: 130px;
    margin: 8px;
    float: left;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    border-radius: 12px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}

.c_offer-bar {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.c_offer {
    width: 260px;
    height: 190px;
    margin: 15px;
    padding: 10px;
    float: left;
    text-align: center;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    border-radius: 12px;
    background-color: white;
}

.c_offer .offer_image {
    width: 250px;
    height: 140px;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.c_offer .offer_image img {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.c_offer a {
    display: block;
    clear: both;
    margin: 5px;
    font-weight: bold; 
    font-size: 14px;
}

.c_navigation {
    background-image: url(../img/navigation.png);
    background-repeat: repeat-x;
    height: 53px;
    font-size: 16px;
    margin-top: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.c_navigation .navlist {
    padding-top: 15px;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
}

.c_navigation .navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 22px;
    margin-left: 22px;
    margin-right: 20px;
}

.c_navigation .navlist li a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.wrap {
    width: 930px;
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.wrap .header {
    clear: both;
    overflow: hidden;
    /* font-family: BrandonGrotesque-Regular; */
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.wrap .middle {
    clear: both;
    overflow: hidden;
    margin-top: -5px;
    font-size: 12px;
    line-height: 20px;
}

.navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.footer-navigation {
    font-size: 11px;
    padding-top: 10px;
}

.footer-navigation ul {
    float: right;
}

.footer-navigation ul li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

.wrap .header .navigation {
    float: right;
    margin-top: 110px;
}
.wrap .header .login {
    float: right;
    width: 190px;
}

.wrap .header .forgot-password {
    font-size: 10px;
    padding-top: 12px;
    float: left;
}

.wrap .header .logo {
    float: left;
    margin-top: 3px;
}

.left-column h1 {
    line-height: 40px;
    font-size: 38px;
}

.left-column p {
    margin-top: 10px;
    line-height: 18px;
    font-size: 12px;
    width: 400px;
    text-align: justify;
}

.learn-more {
    display: block;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #014E44;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.under-more {
    height: 15px;
    width: 340px;
    border-bottom: solid 1px #4f4f4f;
}

.login-button {
    display: block;
    background-color: #4f4f4f;
    color: #fff;
    font-size: 11px;
    padding: 4px;
    float: right;
    width: 75px;
    border: solid 1px #4f4f4f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.suggestgift-button {
    display: block;
    background-color: #4f4f4f;
    color: #fff;
    font-size: 11px;
    padding: 4px;
    float: right;
    width: 100px;
    margin-top: 5px;
    border: solid 1px #4f4f4f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.join-now {
    display: block;
    background-color: #4f4f4f;
    color: #fff;
    padding: 10px;
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 200px;
    border: solid 1px #4f4f4f;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 5px;
}

.gift-text {
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 600;
    text-align: center;
}

div.copyright {
    font-size: 11px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 110px;
    width: 270px;
}

/* messages */

div.info, div.success, div.warning, div.error {
    border: 1px solid;
    margin: 15px;
    padding: 15px 20px 15px 55px;
    font: 12px verdana;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
div.info {
    color: #00529B;
}
div.success {
    color: #4F8A10;
}
div.warning {
    color: #9F6000;
}
div.error {
    color: #D8000C;
}

div.pages {
    text-transform: none;
    font-size: 14px;
    line-height: 30px;
}

div.landing_page {
    text-transform: none;
}

div.landing_page .left-column{
    float: left;
    width: 400px;
    clear: none;
    margin-top: 0px;
}

div.landing_page .right-column{
    float: right;
    width: 400px;
    clear: none;
    margin-top: 0px;
}

div.landing_page .c_hero-unit .bg_white{
    background-color: #fff;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    border: solid 1px #b2c9c6;
    width: 410px;
    padding: 10px;
}

div.landing_page .bg_white{
    background-color: #fff;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    border: solid 1px #b2c9c6;
    margin-top: 5px;
    width: 430px;
    padding: 10px;
}
